Repository cloudposse-terraform-components/aws-ecr, pull requests merged in 2025-01, with the labels that each got.

#9 Fix tf format and add Editor config
  .editorconfig
  .github/renovate.json
  .github/settings.yml
  docs/.gitkeep
  src/context.tf
Labels: auto-update, no-release, migration

#11 Added contributors by triggering setting app
  .github/settings.yml
Labels: auto-update, no-release, migration

#12 Added contributors by triggering setting app
  .github/settings.yml
Labels: auto-update, no-release, migration

#13 Update codeowners file
  .github/CODEOWNERS
Labels: auto-update, no-release, migration

#15 feat: Pull Through Cache for ECR
  .gitignore
  src/README.md
  src/main.tf
  src/outputs.tf
  src/variables.tf
Labels: minor, needs-test

#20 feat: add ecr replication_configurations variable
  README.md
  src/main.tf
  src/variables.tf
Labels: needs-test
